/* Base CSS */

@import url('https://fonts.googleapis.com/css?family=Acme');
.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

html,
body {
    height: 100%
}

body {
    font-family: 'Acme', sans-serif;
}

a:hover {
    text-decoration: none
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.header-title {
    color: black;
    font-size: 45px;
}

.uni-form-input {
    height: 21px;
    border-radius: 0;
    text-align: center;
}

.btn-primary {
    margin: 10px 10px 30px 10px;
}

input.btn.btn-danger {
    margin-left: 15px;
}

.swal-overlay {
    background-color: rgba(43, 165, 137, 0.45);
}

select {
    width: 100%;
}

tr.dangerous {
    background: black;
    color: white;
    font-size: 18px;
}

p.lead.text-muted {
    font-size: 40px !important;
    color: black;
    margin: 0 0 3px 0px;
}

.content {
    background: black;
    text-align: justify;
    color: white;
    padding: 20px 10px;
    border-radius: 7px;
    box-shadow: 4px 4px 10px;
}
